.container {
  display: flex;
  min-height: 100vh;
  background-color: #232323;
  color: #fff;
}

.sider {
  width: 130px;
  min-height: 100vh;
  background-color: #2c2c2c;
  border-right: 4px solid #383838;
}

.wrapper {
  width: calc(100% - 130px);
}

.header {
  position: relative;
  height: 80px;
  background-color: #2c2c2c;
}

.iconMessage {
  position: absolute;
  top: 30px;
  right: 71px;
  width: 28px;
  height: 29px;
  background: url('../../assets/images/icon_message@2x.png') no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
