.container {
  display: flex;
  padding-bottom: 50px;
  min-height: 100vh;
  background-color: #232323;
  color: #fff;
}

.sider {
  display: flex;
  flex-direction: column;
  width: 130px;
  min-height: 100vh;
  background-color: #2c2c2c;
  border-right: 4px solid #383838;
  border-bottom: 4px solid #383838;
  border-bottom-right-radius: 20px;
}

.user {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 82px;

  .avatar {
    width: 54px;
    height: 54px;
    border-radius: 50%;
  }

  span {
    margin-top: 8px;
    font-size: 16px;
    font-family: PingFangSC-Medium;
    color: #fff;
  }
}

.menu {
  display: inline-flex;
  align-self: center;
  width: 50px;
  height: 54px;
}

.iconHome {
  margin-top: 106px;
  background: url('../../assets/images/icon_home@2x.png') no-repeat;
  background-size: 100% 100%;
}

.iconChart {
  margin-top: 90px;
  background: url('../../assets/images/icon_chart@2x.png') no-repeat;
  background-size: 100% 100%;
}

.iconList {
  margin-top: 80px;
  background: url('../../assets/images/icon_list@2x.png') no-repeat;
  background-size: 100% 100%;
}

.avtiveMenu {
  display: flex;
  margin-top: 73px;

  .line {
    width: 6px;
    height: 48px;
    background: rgba(124, 75, 255, 1);
    border-radius: 0px 100px 100px 0px;
  }

  .iconRise {
    margin-left: 30px;
    background: url('../../assets/images/icon_rise@2x.png') no-repeat;
    background-size: 100% 100%;
  }
}

.wrapper {
  width: calc(100% - 130px);
}

.header {
  position: relative;
  height: 80px;
  background-color: #2c2c2c;
}

.iconMessage {
  position: absolute;
  top: 30px;
  right: 71px;
  width: 28px;
  height: 29px;
  background: url('../../assets/images/icon_message@2x.png') no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}

.searchForm {
  background-color: #2c2c2c;
  border-bottom: 1px solid #3d3d3d;
}

.areaChart {
  margin: 30px 30px 20px 28px;
  background-color: #2c2c2c;
  border: 1px solid #3d3d3d;
  border-radius: 20px;
}

.list {
  margin: 0 30px 0 28px;
  background-color: #2c2c2c;
  border-radius: 20px;
}

.pieChart {
  display: flex;
  margin: 20px 40px 0 28px;

  .beforePie,
  .afterPie {
    width: 50%;
    background-color: #2c2c2c;
    border: 1px solid #3d3d3d;
    border-radius: 20px;
  }

  .beforePie {
    margin-right: 20px;
  }
}

.loading {
  margin: 179px 0 179px 576px;

  .icon {
    margin-left: 11px;
    margin-bottom: 23px;
    font-size: 60px;
    color: #7c4bff;
  }

  .tip {
    font-size: 16px;
    color: #fff;
  }
}

.empty {
  margin: 154px 0 154px 521px;

  img {
    width: 139px;
    height: 139px;
  }

  .tip {
    margin-top: 12px;
    font-size: 14px;
    color: #58506d;
  }
}
