.pieChart {
  position: relative;

  :global(.recharts-tooltip-item) {
    color: #fff !important;
  }
}

.customLegend {
  display: flex;
  flex-direction: column;

  .title {
    margin-bottom: 11px;
    font-size: 16px;
    font-family: PingFangSC-Medium;
    line-height: 26px;
  }

  .item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 26px;

    span {
      margin-right: 10px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }
  }
}

.total {
  position: absolute;
  left: 356px;
  top: 146px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 44px;
  height: 44px;

  .num {
    font-size: 24px;
    font-family: DINAlternate;
    line-height: 26px;
  }

  .title {
    font-size: 12px;
    line-height: 22px;
    color: rgba($color: #fff, $alpha: 0.8);
  }
}
