.container {
  overflow: hidden;
  color: #fff;
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../../assets/images/bg_cover.png') no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  // background: rgba(0, 0, 0, 0.1);
}

.content {
  position: absolute;
  margin-top: 260px;
  margin-left: 444px;
  font-size: 47px;
  font-family: PingFangSC-Semibold;
  line-height: 66px;
  letter-spacing: 1px;
  text-shadow: 0px 2px 11px rgba($color: #08070d, $alpha: 0.52);
}

.wrapper {
  position: absolute;
  bottom: 60px;
  display: flex;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:nth-child(1) {
    margin-left: 235px;
    width: 213px;
  }

  &:nth-child(2) {
    margin-top: -42px;
    margin-left: 166px;
    width: 213px;
  }

  &:nth-child(3) {
    margin-top: 20px;
    margin-left: 180px;
    width: 180px;
  }

  .img1 {
    width: 137px;
    height: 153px;
  }

  .img2 {
    width: 156px;
    height: 183px;
  }

  .img3 {
    width: 133px;
    height: 133px;
  }

  .title {
    margin-top: -12px;
    font-size: 20px;
    font-family: PingFangSC-Medium;
    line-height: 28px;
  }

  .desc {
    margin-top: 11px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
}
