.wrapper {
  position: relative;

  .select {
    position: absolute;
    top: 40px;
    right: 50px;
    z-index: 100;
    width: 218px;
    font-size: 16px;
    font-family: PingFangSC-Regular;

    :global {
      .ant-select-selector {
        height: 48px !important;

        .ant-select-selection-item {
          line-height: 45px !important;
        }
      }
    }
  }
}

.customLegend {
  display: inline-flex;
  margin-left: 28px;

  .before,
  .after {
    display: flex;
    align-items: center;
    margin-right: 84px;

    span {
      margin-right: 8px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
    }
  }
}
