#table_list {
  background-color: transparent;

  .ant-table-thead > tr > th {
    background-color: #383446;
    border-bottom: none;
    font-size: 16px;
    color: #fff;

    &:first-child {
      border-radius: 12px 0 0 12px;
    }

    &:last-child {
      border-radius: 0 12px 12px 0;
    }
  }

  .ant-table-tbody > tr > td {
    margin-bottom: 20px;
    background: #303033 !important;
    border-bottom: none;
    font-size: 14px;
    color: #fff;
  }
}
