label {
  font-family: PingFangSC-Semibold;
  font-size: 22px;
  color: #dbdbdb;
}

.ant-select {
  font-size: 18px;
  font-family: PingFangSC-Semibold;
  color: #fff;

  &.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: 52px;
    background-color: #2c2c2c;
    border: 1px solid #4f4e4e;
    border-radius: 8px;

    .ant-select-selection-item {
      line-height: 50px;
    }
  }
}

.ant-input {
  height: 52px;
  background-color: #2c2c2c;
  border: 1px solid #4f4e4e;
  border-left: none;
  font-size: 18px;
  font-family: PingFangSC-Semibold;
  color: #fff;

  &:hover,
  &:focus {
    border: 1px solid #4f4e4e;
    border-left: none;
  }

  &::placeholder {
    color: #b4b4b4;
  }
}

.ant-input-group-addon {
  width: 86px;
  text-align: left;
  background-color: #39383b;
  color: rgba($color: #fff, $alpha: 0.7);
  border-color: transparent;
  border-radius: 0 8px 8px 0;
}

.ant-select-dropdown {
  background-color: #3f3f3f;
  border-radius: 8px;
  border: 1px solid #3d3d3d;

  .ant-select-item {
    margin: 8px 20px 4px;
    padding: 0;
    font-size: 14px;
    color: #fff;

    &:not(:last-child) {
      border-bottom: 1px solid #51515b;
    }
  }

  .ant-select-item-option-active,
  .ant-select-item-option-selected {
    background-color: #3f3f3f;
  }

  .ant-select-item-option-selected {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 3px;
      right: 3px;
      width: 19px;
      height: 13px;
      background: url('../images/icon_sel@2x.png') no-repeat;
      background-size: 100% 100%;
    }
  }
}
