.form {
  display: flex;
  padding: 8px 38px 57px;
}

.plan {
  display: flex;
  flex-direction: column;

  .label {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .line {
    margin-right: 14px;
    width: 4px;
    height: 21px;
    background-color: #692cff;
    border-radius: 1px;
  }

  .select {
    width: 331px;
  }

  .item {
    margin-top: 40px;
    font-size: 16px;
    color: #a1a5a6;

    span {
      color: #fff;
    }

    &.score {
      display: flex;
      align-items: center;
      margin-top: 33px;

      span {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        background: url('../../../assets/images/bg_qualitys@2x.png') no-repeat;
        background-size: 100% 100%;
        font-size: 27px;
        font-family: DINAlternate-Bold;
        color: #2c2c2c;
      }
    }
  }
}

.bid {
  display: flex;
  flex-direction: column;
  margin-left: 157px;

  .label {
    margin-left: 12px;
    margin-bottom: 20px;
  }

  .fields {
    display: flex;
  }

  .select {
    width: 351px;

    :global(.ant-select-selector) {
      border-radius: 8px 0 0 8px !important;
    }
  }

  .input {
    width: 193px;
  }
}

.btn {
  margin-top: 113px;
  margin-left: 100px;
  width: 325px;
  height: 72px;
  background-color: #6f38f6;
  box-shadow: inset 0px 8px 3px 0px #804dfd;
  border-radius: 41px;
  border-color: transparent;
  font-size: 28px;
  font-family: PingFangSC-Medium;
  color: #fff;
  outline: none;
  cursor: pointer;

  span {
    margin-left: 4px;
  }

  .iconArrow {
    margin-left: 12px;
    display: inline-block;
    width: 22px;
    height: 17px;
    background: url('../../../assets/images/icon_next@2x.png') no-repeat;
    background-size: 100% 100%;
  }
}
